<!DOCTYPE html>
<html lang="en">
<% include header.ejs %>
<base href="/">
</head>

<body id="error-body">

<% include menu.ejs %>

<div id="content" class="container-fluid">
    
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

</div>
<% include footer.ejs %>