.loading {
 pointer-events: all;
 z-index: 99999;
 border: none;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 cursor: wait;
 position: fixed;
 background-color: rgba(0, 0, 0, 0.4);
 display: table;
}

.loading i {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: black;
}

.angular-highlight {
    background: rgba(197, 0, 0); /* Fallback */
    background-color: rgba(197, 0, 0, 0.2);
    color: black;
    margin: -1px;
    padding: 5px 5px;
}

.angular-highlight:hover, .angular-highlight:focus, .angular-highlight:focus:hover {
    cursor: pointer;
    filter: brightness(85%);
    color: maroon;
    text-decoration: none;
}

.pagerMessage {
    font-weight: bold;
}

.clickable-td {
}

td.clickable-td:hover, td.clickable-td:focus, td.clickable-td:focus:hover {
    background: #f9f9f9;
    cursor: pointer;
    filter: brightness(85%);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Bootstrap overrides */

@media (max-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
        padding-right: 7px;
    }
}

.form-control[disabled], fieldset[disabled] .form-control {
    color: #a6a6a6;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  padding-top: 50px;
}

a {
    color: Maroon;
}

a:hover, a:focus {
    color: FireBrick;
}

.navbar {
    background-color: #f9f9f9;
}

.navbar-toggle {
    padding: 1px 5px;
    margin-top: 17px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav>li.active>a, .nav>li.active>a:focus  {
    color: Maroon;
    -webkit-box-shadow: inset 0 -2px 0 Maroon;
    -mox-box-shadow: inset 0 -2px 0 Maroon;
    box-shadow: inset 0 -2px 0 Maroon;
    background-color: #f9f9f9;
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus:hover, .nav>li.active>a:hover, .nav>li.active>a:focus:hover {
    color: FireBrick;
    -webkit-box-shadow: inset 0 -2px 0 FireBrick;
    -mox-box-shadow: inset 0 -2px 0 FireBrick;
    box-shadow: inset 0 -2px 0 FireBrick;
    background-color: #f9f9f9;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover, .nav>li>a:hover, .nav>li>a:focus:hover {
    color: FireBrick;
    -webkit-box-shadow: inset 0 -2px 0 FireBrick;
    -mox-box-shadow: inset 0 -2px 0 FireBrick;
    box-shadow: inset 0 -2px 0 FireBrick;
    background-color: #f9f9f9;
}

.nav-tabs.nav-justified>li:first-child>a, .nav-tabs.nav-justified>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.nav-tabs.nav-justified>li:last-child>a, .nav-tabs.nav-justified>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.nav-tabs.nav-justified>li>a, .nav-tabs.nav-justified>li>a:hover, .nav-tabs.nav-justified>li>a:focus, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;   
    border-left: 1px solid #dddddd; 
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus:hover, .navbar-nav>li.active>a:hover, .navbar-nav>li.active>a:focus:hover, .navbar-nav>li.active>a, .navbar-nav>li.active>a:focus {  
    background-color: #eeeeee;
}

.navbar-nav>li>a {
    background-color: #F4F4F4;
  /*  -webkit-box-shadow: inset 0 -2px 0 #ddd;
    -mox-box-shadow: inset 0 -2px 0 #ddd;
    box-shadow: inset 0 -2px 0 #ddd; */
}

.btn-wide {
    width: 90%;
    margin: 5% 5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
}

.btn-lg i {
    color: maroon;
}

.btn-lg.disabled i {
    color: #5c2323;
}

.btn-subtext {
    font-size: 60%;
    line-height: 14px;
    caption-side: bottom;
    text-align: center;
    white-space: normal;
}

.btn-title {
    vertical-align: middle;
    height: 100%;
    display: table-cell;
}

.btn-sm {
    padding: 5px 7.5px;
}
/*
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, 
input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, 
[type=text].form-control:focus, [type=password].form-control:focus, 
[type=email].form-control:focus, [type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 maroon;
    box-shadow: inset 0 -2px 0 maroon;
} */


/* Table controls */

.table {
    max-width: none;
    word-wrap: break-word;
}

table .shrink {
    white-space: nowrap;
    vertical-align: middle;
}
table .expand {
    width: 99%;
    vertical-align: middle;
    white-space: normal;
}

.valign > tbody > tr > td {
     vertical-align: middle;
}


@media screen and (max-width: 400px) {
    table .noTiny {
        display: none;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 2px;
    padding-right: 2px;
    }
    
    .pagination {
    margin: 15px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    }
}
@media screen and (max-device-width: 768px) {
    table .noMobile {
        display: none;
    }
}


/* Pagination */

.pagination {
    display: table;
    width: 100%;
}

.pager li, .pagination>li {
    display: inline;
    display: table-cell;
}
.pagination>li>a,
.pagination>li>span {
/*    padding: 6px 10px; */
    width: 100%;
    text-align: center;
    color: Maroon;
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.pagination>li>a:hover,
.pagination>li>span:hover {
    color: FireBrick;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-right: 1px solid #dddddd;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-left: 1px solid #dddddd;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: Maroon;
    border-color: Maroon;
    cursor: default;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    cursor: default;
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    cursor: default;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Menu triangles */

.triangle-right {
  margin: auto;
  position: absolute;
  right: 2%;
}

.triangle-down {

  position:fixed;
  margin-top:0px;
  width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid Maroon;
}

.triangle-down:hover {
    border-top: 30px solid FireBrick;
}

.triangle-down p{  
  text-align:center;
  color:MistyRose;
  margin-top:-33px;
  margin-left:-13px;
  transition:color .2s;
}

.alert-fixed {
    position:fixed; 
    top: 30px; 
    left: 10%;
    width: 80%;
    z-index:9999; 
    border-radius:5px;
}

.disabledLink {
    color: #ccc;
    pointer-events:none;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 70px;
  background-color: #f9f9f9;
}

.footer-nav {
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        padding-right: 30px;
    }
}
