<!DOCTYPE html>
<html lang="en">
<% include global/header.ejs %>
<base href="/">
</head>


<body id="admin-body">
  <% include global/menu.ejs %>
  <div id="content" class="container">
    <div class="row" style="padding-top: 15px;">
      <div class="col-xs-8 col-xs-offset-2">
        <h3>Sign Up</h3>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <hr />
        <!-- LOGIN FORM -->
        <form action="/register" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="user">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastName">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>
      </div>
    </div>
  </div>
<% include global/footer.ejs %>
