<div class="popoverCont">
    <div ng-if="popoverEl == 'source'">
        <a class="btn" href="/?address={{message.source}}">Filter</a>
    </div>
    <div ng-if="popoverEl == 'address'">
        <a class="btn" href="/?address={{message.address}}">Filter</a>
        <a class="btn" ng-if="message.aliasMatch && user" href="/admin/aliases/{{message.aliasMatch}}">Edit Alias</a>
        <a class="btn" ng-if="!message.aliasMatch && user" href="/admin/aliases/new?address={{message.address}}">Create Alias</a>
    </div>
    <div ng-if="popoverEl == 'agency'">
        <a class="btn" href="/?agency={{message.agency}}">Filter</a>
    </div>
    <div ng-if="popoverEl == 'alias'">
        <a class="btn" ng-if="message.aliasMatch" href="/?q={{message.alias}}">Filter</a>
        <a class="btn" ng-if="message.aliasMatch && user" href="/admin/aliases/{{message.aliasMatch}}">Edit Alias</a>
        <a class="btn" ng-if="!message.aliasMatch && user" href="/admin/aliases/new?address={{message.address}}">Create Alias</a>
    </div>

</div>