</div>
<footer id="footer" class="footer footer-nav">
  <div class="container-fluid dark-theme-2">
    <div class="col-sm-12 text-center navbar-text">
      <span class="pull-left footer-border">PagerMon 
          <% if(typeof version != 'undefined'){ %>
            <%=version%>
          <% } %></span>
          <span class="pull-right footer-git"><a href="https://github.com/pagermon/pagermon" rel="noreferrer" target="_blank"><i class="fa fa-2x fa-github" style="vertical-align: middle;color:#ffffff"></i><span style="color:#ffffff"> GitHub</span></a></span>
      </div>
  </div>
</footer>
</body>
</html>
