<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{alertMessage.type}} alert-dismissable alert-fixed fade in" ng-if="alertMessage.show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false">&times;</button>
  <strong>{{alertMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px;">
    <div class="col-xs-12">
      <h4 style="padding-left: 15px;"><a href="/admin/">Admin</a></h4>
      <hr />
      <div class="btn-group btn-group-justified hidden-xs">
        <a href="/admin/aliases" class="btn btn-default btn-lg"><i class="fa fa-fw fa-address-card fa-3x pull-left"> </i>Aliases
          <br /><br /><div class="btn-subtext"><i>Manage capcode aliases</i></div></a>
        <a href="/admin/users" class="btn btn-default btn-lg "><i class="fa fa-fw fa-user fa-3x pull-left"> </i>Users
          <br /><br /><div class="btn-subtext"><i>Manage users</i></div></a>
        <a href="/admin/aliases" class="btn btn-default btn-lg disabled"><i class="fa fa-fw fa-inbox fa-3x pull-left"> </i>Messages
          <br /><br /><div class="btn-subtext"><i>Manage Messages</i></div></a>
      </div>
      <div class="btn-group btn-group-vertical visible-xs">
        <a href="/admin/aliases" class="btn btn-default btn-lg"><i class="fa fa-fw fa-address-card fa-2x pull-left"> </i>Aliases
          <br /><div class="btn-subtext"><i>Manage capcode aliases</i></div></a>
        <a href="/admin/messages" class="btn btn-default btn-lg"><i class="fa fa-fw fa-user fa-2x pull-left"> </i>Users
          <br /><div class="btn-subtext"><i>Manage users</i></div></a>
        <a href="/admin/aliases" class="btn btn-default btn-lg disabled"><i class="fa fa-fw fa-inbox fa-2x pull-left"> </i>Messages
          <br /><div class="btn-subtext"><i>Manage Messages</i></div></a>
      </div>      
    </div>
</div>  
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group btn-group-justified hidden-xs" style="padding-top: 15px">
        <a href="/admin/settings" class="btn btn-default btn-lg"><i class="fa fa-fw fa-cogs fa-3x pull-left"> </i>Settings
          <br /><br /><div class="btn-subtext"><i>Configure system settings</i></div></a>
        <a href="/admin/reset" class="btn btn-default btn-lg disabled"><i class="fa fa-fw fa-book fa-3x pull-left"> </i>Logs
          <br /><br /><div class="btn-subtext"><i>View Log Files</i></div></a>
        <a href="https://github.com/pagermon/pagermon#support" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-fw fa-life-ring fa-3x pull-left"> </i>Help
          <br /><br /><div class="btn-subtext"><i>Documentation and support</i></div></a>
      </div>
      <div class="btn-group btn-group-vertical visible-xs">
        <a href="/admin/settings" class="btn btn-default btn-lg"><i class="fa fa-fw fa-cogs fa-2x pull-left"> </i>Settings
          <br /><div class="btn-subtext"><i>Configure system settings</i></div></a>
        <a href="/admin/reset" class="btn btn-default btn-lg disabled"><i class="fa fa-fw fa-book fa-2x pull-left"> </i>Logs
          <br /><div class="btn-subtext"><i>View Log Files</i></div></a>
        <a href="/admin/aliases" class="btn btn-default btn-lg disabled"><i class="fa fa-fw fa-life-ring fa-2x pull-left"> </i>Help
          <br /><div class="btn-subtext"><i>Documentation and support</i></div></a>
      </div>      
    </div>
</div>