<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{alertMessage.type}} alert-dismissable alert-fixed fade in" ng-if="alertMessage.show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false">&times;</button>
  <strong>{{alertMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-sm-6 col-xs-12">
          <h4 style="padding-left: 15px;"><a href="/admin/">Admin</a> / Users</div>

  <div class="col-xs-12">
          <hr />
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        <input id="search" type="text" class="form-control" name="search" placeholder="Filter" ng-model="search">
      </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <p></p>
    <div class="">
      <table class="table table-condensed table-hover table-striped valign">
        <thead class="thead-default">
          <tr>
            <th></th>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">Username</th>
            <th style="text-align: center;">Given Name</th>
            <th style="text-align: center;">Surname</th>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">Role</th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | filter: search">
            <td class="shrink" style="vertical-align: middle;"><input type="checkbox" ng-model="user.selected" /></td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.id}}</strong></span>
            </td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.username}}</strong></span>
            </td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.givenname}}</strong></span>
            </td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.surname}}</strong></span>
            </td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.email}}</strong></span>
            </td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.role}}</strong></span>
            </td>
            <td class="shrink clickable-td" style="color: Maroon;" ng-click="userDetail(user.id);">
              <span style="font-family: monospace;"><strong>{{user.status}}</strong></span>
            </td>
        </tbody>
      </table>
    </div>
  </div>
<div class="btn-group-vertical" id="buttons-management">
  <button type="button" ng-disabled="!userSelected()" ng-click="userDelete()" class="btn btn-danger ">Delete Selected</button>
  <button type="button" ng-click="userDetail('new');" class="btn btn-success ">Add New</button>
</div>