<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{alertMessage.type}} alert-dismissable alert-fixed fade in" ng-if="alertMessage.show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false">&times;</button>
  <strong>{{alertMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-sm-6 col-xs-12">
          <h4 style="padding-left: 15px;"><a href="/admin/">Admin</a> / <a href="/admin/users/">Users</a> / {{user.username || 'New'}}</div>
  <div class="col-xs-12">
          <hr />
          <form ng-submit="userSubmit()" class="form-horizontal" name="user">
          <h5>User Details</h5>
            <div class="form-group has-feedback" ng-class="!user.username || existingUsername ? 'has-error' : 'has-success'">
              <label for="user.username" class="col-xs-4 col-sm-3 control-label">Username</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="text" name="user.username" ng-model="user.username" ng-change="checkUsername()" ng-model-options="{updateOn: 'blur'}" required>
                <span ng-if="userLoading" class="fa fa-refresh fa-spin fa-2x fa-fw form-control-feedback" aria-hidden="true"></span>
                <span id="helpBlock" class="help-block">Required</span>
                <span ng-if="existingUsername" class="text-danger pull-left">Username already exists! </span>
              </div>
            </div>
            <div class="form-group" ng-class="!user.givenname ? 'has-error' : 'has-success'">
              <label for="user.givenname" class="col-xs-4 col-sm-3 control-label">Given Name</label>
              <div class="col-xs-8 col-sm-9">
              <input class="form-control" type="text" name="user.givenname" ng-model="user.givenname" required>
              <span id="helpBlock" class="help-block">Required</span>
              </div>
            </div>
            <div class="form-group" ng-class="">
              <label for="user.surname" class="col-xs-4 col-sm-3 control-label">Surname</label>
              <div class="col-xs-8 col-sm-9">
              <input class="form-control" type="text" name="user.surname" ng-model="user.surname">
              <span id="helpBlock" class="help-block"></span>
              </div>
            </div>
            <div class="form-group has-feedback" ng-class="!user.email || existingEmail ? 'has-error' : 'has-success'">
              <label for="user.email" class="col-xs-4 col-sm-3 control-label">Email Address</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="email" name="user.email" ng-model="user.email" ng-change="checkEmail()" ng-model-options="{updateOn: 'blur'}" required>
                <span ng-if="userLoading" class="fa fa-refresh fa-spin fa-2x fa-fw form-control-feedback" aria-hidden="true"></span>
                <span id="helpBlock" class="help-block">Required</span>
                <span ng-if="existingEmail" class="text-danger pull-left">Email already exists! </span>
              </div>
            </div>
            <div class="form-group has-feedback" ng-class="!user.password ? 'has-error' : 'has-success'" ng-if="isNew">
              <label for="user.password" class="col-xs-4 col-sm-3 control-label">Password</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="password" name="user.password" ng-model="user.password" required>
                <span id="helpBlock" class="help-block">Required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="user.role" class="col-xs-4 col-sm-3 control-label">User Role</label>
              <div class="col-xs-8 col-sm-9">
                <select name="user.role" ng-model="user.role" class="form-control">
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
                <span id="helpBlock" class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="user.status" class="col-xs-4 col-sm-3 control-label">User Status</label>
              <div class="col-xs-8 col-sm-9">
                <select name="user.status" ng-model="user.status" class="form-control">
                  <option value="active">Active</option>
                  <option value="disabled">Disabled</option>
                </select>
                <span id="helpBlock" class="help-block"></span>
              </div>
            </div>
            <div class="form-group" ng-if="!isNew">
              <label for="user.lastlogondate" class="col-xs-4 col-sm-3 control-label">Last Logon Date</label>
              <div class="col-xs-8 col-sm-9">
                <div class="input-group">
                  <input class="form-control" type="text" name="user.lastlogondate" ng-model="user.lastlogondate" readonly>
                </div>
                <span id="helpBlock" class="help-block">Last Logon Date for user</span>
              </div>
            </div>
            <div class="btn-group-vertical" id="buttons-aliasDetail">
              <button type="button" ng-if="!isNew" ng-click="userDelete()" class="btn btn-danger">Delete</button>
              <button type="button" ng-if="!isNew" ng-click="userReset()" class="btn btn-warning ">Reset Password</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
</div>

