  <div class="row">
      <div class="text-center col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
          <!-- pager -->
          <ul ng-if="init.pageCount" class="pagination">
              <li ng-class="{disabled:init.currentPage === 1}">
                  <span ng-if="init.currentPage === 1" aria-label="First"><i class="fa fa-angle-double-left"></i></span>
                  <a ng-if="init.currentPage != 1" ng-click="updateData(1);" aria-label="First"><i class="fa fa-angle-double-left"></i></a>
              </li>
              <li ng-class="{disabled:init.currentPage === 1}">
                  <span ng-if="init.currentPage === 1" aria-label="Previous"><i class="fa fa-angle-left"></i></span>
                  <a ng-if="init.currentPage != 1" ng-click="updateData(init.currentPage-1);" aria-label="Previous">
                    <i class="fa fa-angle-left hidden-xs"></i><span class="visible-xs">{{init.currentPage-1}}</span></a>
              </li>
              <li ng-repeat="page in init.pages" ng-class="{active:init.currentPage === page}" class="hidden-xs">
                  <a ng-click="updateData(page);">{{page}}</a>
              </li>
              <li class="active visible-xs">
                  <a ng-click="updateData(init.currentPage);">{{init.currentPage}}</a>
              </li>              
              <li ng-class="{disabled:init.currentPage === init.pageCount}">
                  <span ng-if="init.currentPage === init.pageCount"><i class="fa fa-angle-right"></i></span>
                  <a ng-if="init.currentPage != init.pageCount" ng-click="updateData(init.currentPage+1);" aria-label="Next">
                    <i class="fa fa-angle-right hidden-xs"></i><span class="visible-xs">{{init.currentPage+1}}</span></a>
              </li>
              <li ng-class="{disabled:init.currentPage === init.pageCount}">
                  <span ng-if="init.currentPage === init.pageCount" aria-label="Last"><i class="fa fa-angle-double-right"></i></span>
                  <a ng-if="init.currentPage != init.pageCount" ng-click="updateData(init.pageCount);" aria-label="Last">
                    <i class="fa fa-angle-double-right"></i></a>
              </li>
          </ul>
      </div>
  </div>