<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{loginMessage.type}} alert-dismissable alert-fixed fade in" ng-if="loginMessage.show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        ng-click="loginMessage.show = false">&times;</button>
    <strong>{{loginMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px">
    <div class="col-xs-12">
        <h4 style="padding-left: 15px;">Login</h4>
        <hr />
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <form ng-submit="loginSubmit()" name="login">
                <div class="form-group">
                    <label for="user.username" class="control-label">Username</label>
                        <input class="form-control" type="text" name="user.username" ng-model="user.username" required>
                </div>
                <div class="form-group">
                    <label for="user.password" class="control-label">Password</label>
                        <input class="form-control" type="password" name="user.password" ng-model="user.password" required>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>
        </div>
    </div>