<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{alertMessage.type}} alert-dismissable alert-fixed fade in" ng-if="alertMessage.show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false">&times;</button>
  <strong>{{alertMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-sm-6 col-xs-12">
          <h4 style="padding-left: 15px;"><a href="/auth/profile/">{{user.username }}</a></div>
  <div class="col-xs-12">
          <hr />
          <form ng-submit="userSubmit()" class="form-horizontal" name="user">
          <h5>User Details</h5>
            <div class="form-group">
              <label for="user.username" class="col-xs-4 col-sm-3 control-label">Username</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="text" name="user.username" ng-model="user.username" disabled>
              </div>
            </div>
            <div class="form-group" ng-class="!user.givenname ? 'has-error' : 'has-success'">
              <label for="user.givenname" class="col-xs-4 col-sm-3 control-label">Given Name</label>
              <div class="col-xs-8 col-sm-9">
              <input class="form-control" type="text" name="user.givenname" ng-model="user.givenname" required>
              <span id="helpBlock" class="help-block">Required</span>
              </div>
            </div>
            <div class="form-group" ng-class="">
              <label for="user.surname" class="col-xs-4 col-sm-3 control-label">Surname</label>
              <div class="col-xs-8 col-sm-9">
              <input class="form-control" type="text" name="user.surname" ng-model="user.surname">
              <span id="helpBlock" class="help-block"></span>
              </div>
            </div>
            <div class="form-group has-feedback" ng-class="!user.email || existingEmail ? 'has-error' : 'has-success'">
              <label for="user.email" class="col-xs-4 col-sm-3 control-label">Email Address</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="text" name="user.email" ng-model="user.email" ng-change="userdupeCheck()" ng-model-options="{updateOn: 'blur'}" required>
                <span ng-if="userLoading" class="fa fa-refresh fa-spin fa-2x fa-fw form-control-feedback" aria-hidden="true"></span>
                <span id="helpBlock" class="help-block">Required</span>
                <span ng-if="existingEmail" class="text-danger pull-left">Email already exists! </span>
              </div>
            </div>
            <div class="form-group">
              <label for="user.mobile" class="col-xs-4 col-sm-3 control-label">Mobile Number</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="text" name="user.mobile" ng-model="user.mobile">
                <span id="helpBlock" class="help-block">Optional. Used for alerts tied to your selected aliases.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="user.pushover" class="col-xs-4 col-sm-3 control-label">Pushover User Key</label>
              <div class="col-xs-8 col-sm-9">
                <input class="form-control" type="text" name="user.pushover" ng-model="user.pushover">
                <span id="helpBlock" class="help-block">Optional. Alerts for selected aliases will use this key.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12 control-label">Browser Notifications</label>
              <div class="col-xs-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="user.browser_toast"> Toast message notifications
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="user.browser_sound"> Sound notifications
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12 control-label">Alert Aliases</label>
              <div class="col-xs-12">
                <p>Select the aliases you want to receive alerts for. Alias details cannot be edited here.</p>
                <div class="checkbox" ng-repeat="aliasItem in aliases">
                  <label>
                    <input type="checkbox" ng-checked="aliasItem.selected" ng-click="toggleAlias(aliasItem)"> {{aliasItem.alias}} <span class="text-muted" ng-if="aliasItem.agency">({{aliasItem.agency}})</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="btn-group-vertical" id="buttons-aliasDetail">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
</div>