<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{resetMessage.type}} alert-dismissable alert-fixed fade in" ng-if="resetMessage.show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"
    ng-click="resetMessage.show = false">&times;</button>
  <strong>{{resetMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-xs-12">
    <h4 style="padding-left: 15px;">Reset Password</h4>
    <hr />
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <form ng-submit="resetSubmit()" name="form">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" ng-model="password" autofocus=true
            required>
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password"
            ng-model="confirm_password" required ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
          <span class="text-danger" ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
        </div>
        <button ng-disabled="form.confirm_password.$error.validator" type="submit"
          class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>