<div id="content" class="container-fluid" ng-cloak style="background: #1e323f;">
  
  <ng-view></ng-view>

  <!-- Template -->
  
  <script type="text/ng-template" id="/messages.html">
  <div ng-show="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
    <p></p>
    <div class="row">
      <% if (searchLocation === 'top') { %>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
          <form action="/" method="get">
            <div class="input-group">
              <input id="query" type="text" class="form-control" name="q" placeholder="Search" ng-model="query">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" ng-disabled="!query" ng-class="{disabledLink: !query}"><i class="fa fa-fw fa-search"></i></button>
                <button ng-if="!hasQuery" ng-click="clearSearch()" class="btn btn-default" ng-class="{disabledLink: !query}" ng-disabled="!query"><i class="fa fa-fw fa-times"></i></button>
                <a ng-href="/" ng-if="hasQuery" class="btn btn-default"><i class="fa fa-fw fa-times"></i></a>
              </span>
            </div>
          </form>
          </div>
        </div>
      <% } %>

      <% if (login) { %>
      <div class="container-fluid disable-text-selection" style="margin-top:15px">
                <div class="btn-group" data-toggle="buttons">
                  <button type="button" class="btn btn-default btn-sm" ng-click="updateData();" aria-label="Refresh" title="Refresh Messages"><i class="fa fa-refresh {{spinner}}" aria-hidden="true"></i></button>
                  <button type="button" ng-if="notificationSupport == true" class="btn btn-default btn-sm" ng-class="{active: notificationEnabled == 'true'}" ng-click="toggleNotifications();" aria-label="Notifications" title="Toggle Browser Notifications">
                    <i class="fa fa-bell" aria-hidden="true"></i></button>
                  <span class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" title="Message Limit">{{init.limit}} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" style="margin-top: 9px;">
                      <li ng-class="{disabled:init.limit == 10}"><a href="#" ng-click="setCookie('messageLimit', 10);">10</a></li>
                      <li ng-class="{disabled:init.limit == 20}"><a href="#" ng-click="setCookie('messageLimit', 20);">20</a></li>
                      <li ng-class="{disabled:init.limit == 50}"><a href="#" ng-click="setCookie('messageLimit', 50);">50</a></li>
                      <li ng-class="{disabled:init.limit == 100}"><a href="#" ng-click="setCookie('messageLimit', 100);">100</a></li>
                    </ul>
                  </span>
                </div>
            
            
              <span ng-if="filter || hasQuery" style="vertical-align: middle; padding-right: 10px;color:#ffffff">
                  <strong>Filter:</strong> <a ng-href="/" style="margin-bottom: 3px;" class="btn btn-primary btn-xs">{{filter || origQuery}} <i class="fa fa-fw fa-times"></i></a>
              </span>
      </div>
      <% } %>

  <div class="container-fluid disable-text-selection" style="background: #1e323f;padding-top:15px;">
    <!-- Dark Theme Card Template -->
      <div ng-repeat="message in messages | filter: search" class="row">
          <div class="col-12 list" data-check-all="checkAll">
              <div class="card d-flex flex-row mb-3" style="border-left: solid 5px {{message.color || 'grey'}};">
                  <div class="d-flex flex-grow-1 min-width-zero">
                      <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center" style="z-index: 0;">
                      <% if (!hidesource || login) { %>
                        <span>
                      <% if (iconsize == 'small') { %>
                        <span class="fa-stack fa-fw" style="color: {{message.color || 'grey'}};"></span>
                      <% } else { %>
                          <span class="fa-stack fa-lg fa-fw" style="color: {{message.color || 'grey'}};">
                      <% } %>
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i ng-if="message.icon" class="fa fa-{{message.icon}} fa-stack-1x fa-inverse"></i>
                            <i ng-if="!message.icon" class="fa fa-question fa-stack-1x fa-inverse"></i>
                          </span>
                        </span>
                          <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                              <!-- Time Decoded -->
                              <span class="mb-0 time-decoded text-small w-15 w-xs-100"><i class="pr-3px fa fa-clock-o" aria-hidden="true"></i>{{message.timestamp}}</span>
                              <!-- Message Contents --> 
                              <span>
                                <p highlight="message.message" replacement="init.replaceText" class="pagerMessage list-item-heading mb-0 w-xs-100"></p>
                              </span>
                              <!-- Decoder Location -->
                              <span class="mb-0 text-muted text-small w-15 w-xs-100 d-location" style="background-color:{{message.color || 'grey'}};"><i class="pr-3px fas fa-plug" aria-hidden="true"></i>{{message.source}}</span>
                              <!-- Address -->
                              <span class="mb-0 text-muted text-small w-15 w-xs-100 p-address" uib-popover-template="'templates/popover.html'" popover-append-to-body=true ng-click="popoverEl = 'address'" popover-trigger="'outsideClick'" style="background-color:{{message.color || 'grey'}};">
                                <span><strong><i class="pr-3px fa fa-phone" aria-hidden="true"></i>{{message.address}}</strong></span>
                              </span>
                              <!-- Date -->
                              <span class="shrink clickable-td" style="text-align: center;font-size:10px">
                                <span class="shrink p-date"><i class="pr-3px fa fa-calendar-o" aria-hidden="true"></i>{{message.date}}</span>
                              </span>
                            </div>
                          </div>
                      </div>
                  </div>
              </div> 
          </div>
                      <% } %>
      </div>
  </div>