</div>
<footer id="footer" class="footer footer-nav">
  <div class="container-fluid">
    <div class="col-sm-12 text-center navbar-text">
        <span class="pull-left text-muted">PagerMon 
          <% if(typeof version != 'undefined'){ %>
            <%=version%>
          <% } %></span>
        <span class="pull-right text-muted"><a href="https://github.com/pagermon/pagermon" rel="noreferrer" target="_blank"><i class="fa fa-2x fa-github" style=" vertical-align: middle;"></i> <span >GitHub</span></a></span>
    </div>
  </div>
</footer>
</body>
</html>
