</div>
<footer id="footer" class="footer footer-nav" style="background-color: #203f52;">
  <div class="container-fluid">
    <div class="col-sm-12 text-center navbar-text">
        <span class="pull-left">PagerMon 
          <% if(typeof version != 'undefined'){ %>
            <%=version%>
          <% } %></span>
        <span class="pull-right"><a href="https://github.com/pagermon/pagermon" rel="noreferrer" target="_blank"><i class="fa fa-2x fa-github" style="vertical-align: middle;color:#ffffff"></i><span style="color:#ffffff"> GitHub</span></a></span>
    </div>
  </div>
</footer>
</body>
</html>
